<div class="header">
    <h1 class="page-header">
        Home
        <!--Dashboard-->
        <!--<small>Welcome John Doe</small>-->
    </h1>
    {{{error}}}
    <ol class="breadcrumb">
                <li class="active">All</li>
    </ol>
</div>
<div id="page-inner">
    <div class="row">
        <!--<div class="col-md-12 col-sm-12">-->
        <!--<div class="btn btn-block btn-success">-->
        <!--NEW-->
        <!--</div>-->

        <!--</div>-->
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Project1
                </div>
                <div class="panel panel-body">
                    <div class="colmd-12 col-sm-12 text-center">
                        <img src="images/car.jpg" style="height: 240px; width:420px"/>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>

                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (success)</span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-block btn-primary" href="/projDetail?Home">

                        Detail
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Project2
                </div>
                <div class="panel panel-body">
                    <div class="colmd-12 col-sm-12 text-center">
                        <img src="images/gun.jpg" style="height: 240px; width:420px"/>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-block btn-primary" href="/projDetail?Home">

                        Detail
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    Project3
                </div>
                <div class="panel panel-body">
                    <div class="colmd-12 col-sm-12 text-center">
                        <img src="images/phone.jpg" style="height: 240px; width:420px"/>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>

                </div>
                <!--<a class="text-center" href="/projDetail">-->

                <div class="panel-footer">
                    <!--<strong>-->

                    <!--Detail-->
                    <!--</strong>-->
                    <a class="btn btn-block btn-primary" href="/projDetail?from=Home">
                        Detail
                    </a>
                </div>
                <!--</a>-->
            </div>
        </div>
    </div>
</div>