<div class="row">
    <!--<div class="col-md-12 col-sm-12">-->
        <!--<div class="btn btn-block btn-success">-->
            <!--NEW-->
        <!--</div>-->

    <!--</div>-->
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Project1
            </div>
            <div class="panel panel-body">
                <div class="colmd-12 col-sm-12 text-center">
                <img src="images/car.jpg" style="height: 120px; width:220px;"/>
                </div>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
            <div class="panel-footer">
                <a class="btn btn-block btn-primary" href="/projDetail">

                    Detail
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Project2
            </div>
            <div class="panel panel-body">
                <div class="colmd-12 col-sm-12 text-center">
                    <img src="images/gun.jpg" style="height: 120px; width:220px;"/>
                </div>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
            <div class="panel-footer">
                <a class="btn btn-block btn-primary" href="/projDetail">

                    Detail
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default ">
            <div class="panel-heading">
                Project3
            </div>
            <div class="panel panel-body">
                <div class="colmd-12 col-sm-12 text-center">
                    <img src="images/phone.jpg" style="height: 120px; width:220px;"/>
                </div>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>

            </div>
            <!--<a class="text-center" href="/projDetail">-->

                <div class="panel-footer">
                    <!--<strong>-->

                        <!--Detail-->
                    <!--</strong>-->
                    <a class="btn btn-block btn-primary" href="/projDetail">
                    Detail
                    </a>
                </div>
            <!--</a>-->
        </div>
    </div>
</div>