
<div class="header">
    <h1 class="page-header">
        Project Detail
        <!--Dashboard-->
        <!--<small>Welcome John Doe</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="/funded">Funded</a></li>
        <li class="active">proj</li>
    </ol>
</div>
<div id="page-inner">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>

            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">60% Complete (success)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">Comments</div>
        <div class="panel-body">
            <ul class="chats normal-chat">
                <li class="in">
                    <img src="images/photos/user1.png" alt="" class="avatar">
                    <div class="message ">
                        <span class="arrow"></span>
                        <a class="name" href="#">Jone Doe</a>
                        <span class="datetime">at Apr 28, 2014 1:33</span>
                                        <span class="body">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. dolore magna aliquam erat volutpat. dolore magna aliquam erat volutpat.
                                        </span>
                    </div>
                </li>
                <li class="in">
                    <img src="images/photos/user2.png" alt="" class="avatar">
                    <div class="message">
                        <span class="arrow"></span>
                        <a class="name" href="#">Margarita Rose</a>
                        <span class="datetime">at Apr 28, 2014 1:35</span>
                                        <span class="body">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </span>
                    </div>
                </li>
                <li class="in">
                    <img src="images/photos/user1.png" alt="" class="avatar">
                    <div class="message">
                        <span class="arrow"></span>
                        <a class="name" href="#">Jone Doe</a>
                        <span class="datetime">at Apr 28, 2014 1:36</span>
                                        <span class="body">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </span>
                    </div>
                </li>
            </ul>
            <div class="chat-form ">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <input type="text" style="width: 100%" placeholder="Type a message here..." class="form-control">
                    </div>
                    <button class="btn btn-primary" type="submit">Send</button>
                </form>
            </div>
        </div>

        <!--<div class="panel-footer">-->
        <!--<div class="btn btn-block btn-danger">-->
        <!--Support-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>