<link href="assets/css/select2.min.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
<link href="assets/css/checkbox3.min.css" rel="stylesheet" >
<div class="header">
    <h1 class="page-header">
        Raise Project
        <!--Dashboard-->
        <!--<small>Welcome John Doe</small>-->
    </h1>
    <ol class="breadcrumb">
        <li class="active">New</li>
    </ol>
</div>
<div id="page-inner">
    <div class="row">
        <div class="col-xs-7">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="card-title">
                        <div class="title">Edit Project (Form1)</div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="">
                        Examples of standard form controls. such as input, textarea, select, checkboxes and radios , static control, etc.

                        <div class="sub-title">Project Description</div>
                        <div>
                            <textarea class="form-control" rows="8"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-5">

            <div class="panel panel-success">
                <div class="panel-heading">Edit Project (Form2)</div>
                <div class="panel-body">
                    <form action="#" class="form-horizontal ">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3">Title</label>
                                <div class="col-md-7 col-xs-11">
                                    <input type="text" class="form-control" placeholder="Text input">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3">Excepted Budget</label>
                                <div class="col-md-7 col-xs-11">
                                    <input type="number" class="form-control" placeholder="Text input">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3">DeadLine</label>
                                <div class="col-md-7 col-xs-11">
                                    <input class="form-control form-control-inline input-medium default-date-picker"  size="16" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer text-right">
                    <a class="btn btn-success" href="/raisedDetail">SAVE</a>
                    <a class="btn btn-default" href="/home">CANCEL</a>
                </div>
            </div>

        </div>
    </div>
</div>