<link href="assets/css/select2.min.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
<link href="assets/css/checkbox3.min.css" rel="stylesheet" >
<div class="header">
    <h1 class="page-header">
        Raise Project
        <!--Dashboard-->
        <!--<small>Welcome John Doe</small>-->
    </h1>
    <ol class="breadcrumb">
        <li class="active">New</li>
    </ol>
</div>
<div id="page-inner">
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="card-title">
                    <div class="title">Edit Project</div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-8 col-sm-8">
                    Examples of standard form controls. such as input, textarea, select, checkboxes and radios , static control, etc.

                    <div class="sub-title">Project Description</div>
                    <div>
                        <textarea class="form-control" rows="9"></textarea>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <form action="#" class="form-horizontal ">
                        &nbsp;
                        <div class="sub-title" name="1">Title</div>
                        <div>
                            <input type="text" class="form-control" placeholder="Text input">
                        </div>
                        <div class="sub-title">Excepted Budget</div>
                            <input type="number" class="form-control" placeholder="Text input">
                            <div class="form-group">
                                <title class="sub-title">DeadLine</title>
                                <div data-date-viewmode="years" data-date-format="dd-mm-yyyy" data-date="12-02-2012"  class="input-append date dpYears">

                                    <div class="col-md-4 col-xs-11">
                                        <input class="form-control form-control-inline input-medium default-date-picker"  size="16" type="text" value="" />
                                        <span class="help-block">Select date</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
                <!--<div class="sub-title">Checkboxes and radios </div>-->
                <!--<div>-->
                    <!--<div class="checkbox3 checkbox-round">-->
                        <!--<input type="checkbox" id="checkbox-2">-->
                        <!--<label for="checkbox-2">-->
                            <!--Option one is this and that&mdash;be sure to include why it's great-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="checkbox3 checkbox-round">-->
                        <!--<input type="checkbox" id="checkbox-3" disabled="">-->
                        <!--<label for="checkbox-3">-->
                            <!--Option two is disabled-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="radio3">-->
                        <!--<input type="radio" id="radio1" name="radio1" value="option1">-->
                        <!--<label for="radio1">-->
                            <!--Option one is this and that&mdash;be sure to include why it's great-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="radio3">-->
                        <!--<input type="radio" id="radio2" name="radio1" value="option2">-->
                        <!--<label for="radio2">-->
                            <!--Option two can be something else and selecting it will deselect option one-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="sub-title">Inline</div>-->
                    <!--<div>-->
                        <!--<div class="checkbox3 checkbox-inline checkbox-check checkbox-light">-->
                            <!--<input type="checkbox" id="checkbox-fa-light-1" checked="">-->
                            <!--<label for="checkbox-fa-light-1">-->
                                <!--Option1-->
                            <!--</label>-->
                        <!--</div>-->
                        <!--<div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light">-->
                            <!--<input type="checkbox" id="checkbox-fa-light-2" checked="">-->
                            <!--<label for="checkbox-fa-light-2">-->
                                <!--Option Round-->
                            <!--</label>-->
                        <!--</div>-->
                        <!--<div class="checkbox3 checkbox-danger checkbox-inline checkbox-check  checkbox-circle checkbox-light">-->
                            <!--<input type="checkbox" id="checkbox-fa-light-3" checked="">-->
                            <!--<label for="checkbox-fa-light-3">-->
                                <!--Option Circle-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<div class="radio3 radio-check radio-inline">-->
                            <!--<input type="radio" id="radio4" name="radio2" value="option1" checked="">-->
                            <!--<label for="radio4">-->
                                <!--Option 1-->
                            <!--</label>-->
                        <!--</div>-->
                        <!--<div class="radio3 radio-check radio-success radio-inline">-->
                            <!--<input type="radio" id="radio5" name="radio2" value="option2">-->
                            <!--<label for="radio5">-->
                                <!--Option 2-->
                            <!--</label>-->
                        <!--</div>-->
                        <!--<div class="radio3 radio-check radio-warning radio-inline">-->
                            <!--<input type="radio" id="radio6" name="radio2" value="option3">-->
                            <!--<label for="radio6">-->
                                <!--Option 3-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" class="toggle-checkbox" name="my-checkbox" checked>-->
                <!--</div>-->
                <!--<div class="sub-title">Select</div>-->
            </div>
            <div class="panel-footer text-right">
                    <a class="btn btn-success" href="/raisedDetail">SAVE</a>
                    <a class="btn btn-default" href="/home">CANCEL</a>
            </div>
        </div>
    </div>
</div>
    </div>

</div>