<link href="assets/css/select2.min.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
<link href="assets/css/checkbox3.min.css" rel="stylesheet" >
<div class="header">
    <h1 class="page-header">
        Raise Project
    </h1>
    <ol class="breadcrumb">
        <li class="active">New</li>
    </ol>
</div>
<div id="page-inner">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="card-title">
                        <div class="title">Edit Project</div>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="/project" class="form-horizontal" method="post" enctype="multipart/form-data">
                        <div class="choose_file">
                            <span style="color: white">Choose Image</span>
                            <input name='image' type="file" accept="image/*" onchange="loadFile(event)" />
                        </div><br><br>
                        <div class="img-control">
                            <img id="image" width="100%" height="100%" />
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-2" style="padding-left: 30px; text-align: left;">Title</label>
                                <div class="col-md-9 col-xs-11" style="float: right; padding-right: 30px">
                                    <input name='title' type="text" class="form-control" placeholder="Text input">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-2" style="padding-left: 30px; text-align: left;">Excepted Budget</label>
                                <div class="col-md-9 col-xs-11" style="float: right; padding-right: 30px">
                                    <input name="budget" type="number" class="form-control" placeholder="Text input">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-2" style="padding-left: 30px; text-align: left;">DeadLine</label>
                                <div class="col-md-9 col-xs-11" style="float: right; padding-right: 30px">
                                    <input name="deadline" class="form-control form-control-inline input-medium default-date-picker"  size="16" type="text" value="" />
                                </div>
                            </div>
                        </div> <div class="sub-title">Brief Information</div>
                        <div>
                            <textarea name="brief" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="sub-title">Detailed Description</div>
                        <div>
                            <textarea name="description" id="mytextarea"></textarea>
                        </div>
                        <br>
                        <div class="panel-footer text-right" style="background-color: inherit">
                            <input type="submit" class="btn btn-success" >
                            <a class="btn btn-default" href="/home">CANCEL</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
<script>
    var loadFile = function(event) {
        var output = document.getElementById('image');
        output.src = URL.createObjectURL(event.target.files[0]);
    };

    tinymce.init({
        selector: '#mytextarea'
    });
</script>