
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
        </div>
        <div class="panel-footer">
            <div class="btn btn-block btn-danger">
                Support
            </div>
        </div>
    </div>