
<div class="header">
    <h1 class="page-header">
        Project Detail
        <!--Dashboard-->
        <!--<small>Welcome John Doe</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="/raised">Raised</a></li>
        <li class="active">proj</li>
    </ol>
</div>
<div id="page-inner">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>

            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">60% Complete (success)</span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn btn-block btn-danger">
                Support
            </div>
        </div>
    </div>
</div>