
<div class="header">
    <h1 class="page-header">
        Project Detail
    </h1>
    <ol class="breadcrumb">
        <li><a href="/">All</a></li>
        <li class="active">proj</li>
    </ol>
</div>
<div id="page-inner">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-body">
                <h1 class="text-center mtop35"><a href="#">Neque porro quisquam est qui dolo rem ipsum quio</a></h1>
                <p class="text-center auth-row">
                    27 December 2014   | <a href="#">5 Comments</a>
                </p>
                <div class="blog-img-wide" style="height: 200px;">
                    <img src="images/blog/blog-wide-img.jpg" width="100%" style="height: inherit;padding-bottom: 0;">
                </div>
                <hr>
                <div class="status">
                    <div class="project-status">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                <span class="">70%</span>
                            </div>
                        </div>
                        <div class="project-raised">
                            <span class="project-raised-price">$ 280,000</span>
                            <span class="project-raised-label">raised</span>
                        </div>
                    </div>
                    <ul class="project-info">
                        <li class="project-info-unit">
                            <span class="unit-label">Target</span>
                            <span class="unit-figure">$ 400,000</span>
                        </li>
                        <li class="project-info-unit">
                            <span class="unit-label">Funders</span>
                            <span class="unit-figure">104</span>
                        </li>
                        <li class="project-info-unit ">
                            <span class="unit-label">Days left</span>
                            <span class="unit-figure">13</span>
                        </li>
                    </ul>
                </div>
                <br><hr>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>
                <p>
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>

                <blockquote>
                    <p>
                        Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Aenean eu leo quam. 				Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat port			titor ligula, eget lacinia odio sem nec elit.
                    </p>
                </blockquote>

                <p>
                    consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                </p>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn btn-block btn-danger" data-toggle="modal" data-target="#myModal">
                FUND
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="row blog">
        <div class="col-md-6">
            <div class="panel" style="margin-left: 15px;">
                <div class="panel-heading">Funded List</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Funder Name</th>
                            <th class="">Funded Amount($)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark Otto</td>
                            <td style="color: #65cea7;">10,000</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob Thornton</td>
                            <td style="color: #65cea7;">5,000</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry the Bird</td>
                            <td style="color: #65cea7;">2,000</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel" style="margin-right: 15px;">
                <div class="panel-heading">Comments</div>
                <div class="panel-body">
                    <ul class="chats normal-chat">
                        <li class="in">
                            <img src="images/photos/user1.png" alt="" class="avatar">
                            <div class="message ">
                                <span class="arrow"></span>
                                <a class="name" href="#">Jone Doe</a>
                                <span class="datetime">at Apr 28, 2014 1:33</span>
                                        <span class="body">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. dolore magna aliquam erat volutpat. dolore magna aliquam erat volutpat.
                                        </span>
                            </div>
                        </li>
                        <li class="in">
                            <img src="images/photos/user2.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">Margarita Rose</a>
                                <span class="datetime">at Apr 28, 2014 1:35</span>
                                        <span class="body">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </span>
                            </div>
                        </li>
                        <li class="in">
                            <img src="images/photos/user1.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">Jone Doe</a>
                                <span class="datetime">at Apr 28, 2014 1:36</span>
                                        <span class="body">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </span>
                            </div>
                        </li>
                    </ul>
                    <div class="chat-form ">
                        <form role="form" class="form-inline">
                            <div class="form-group">
                                <input type="text" style="width: 100%" placeholder="Type a message here..." class="form-control">
                            </div>
                            <button class="btn btn-primary" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Fund Setting</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <ul class="p-info">
                        <li>
                            <div class="title">Project</div>
                            <div class="desk">P TITLE</div>
                        </li>
                        <li>
                            <div class="title">Total Assets</div>
                            <div class="desk">700000000</div>
                        </li>
                        <li>
                            <div class="title">Available Balance</div>
                            <div class="desk">98000000</div>
                        </li>
                        <li>
                            <div class="title">Funding Amount</div>
                            <div class="desk"><input type="number"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger">Submit</button>
            </div>
        </div>
    </div>
</div>