<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>BRILLIANT Free Bootstrap Admin Template</title>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- ADMINEX CSS-->
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/style-responsive.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/assets/js/Lightweight-Chart/cssCharts.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/bootstrap-datepicker/css/datepicker-custom.css" />
    <!--<link rel="stylesheet" type="text/css" href="/javascripts/bootstrap-timepicker/css/timepicker.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="/javascripts/bootstrap-daterangepicker/daterangepicker-bs3.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="/javascripts/bootstrap-datetimepicker/css/datetimepicker-custom.css" />-->
    <!-- Editor -->
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><strong><i class="icon fa fa-cogs"></i> CROWDCHAIN</strong></a>

            <div id="sideNav" href="">
                <i class="fa fa-bars icon"></i>
            </div>
        </div>

        <ul class="nav navbar-top-links navbar-right">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a class="menu-tag new" href="/newProj"><i class="fa fa-plus"></i> New</a>
                </li>

                <li>
                    <a class="menu-tag all" href="/home"><i class="fa fa-dashboard"></i> All</a>
                </li>
                <li>
                    <a class="menu-tag funded" href="/funded"><i class="fa fa-flag"></i> Funded</a>
                </li>

                <!--<li>-->
                    <!--<a href="#"><i class="fa fa-sitemap"></i> Charts<span class="fa arrow"></span></a>-->
                    <!--<ul class="nav nav-second-level">-->
                        <!--<li>-->
                            <!--<a href="chart.html">Charts JS</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="morris-chart.html">Morris Chart</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<a href="tab-panel.html"><i class="fa fa-qrcode"></i> Tabs & Panels</a>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<a href="table.html"><i class="fa fa-table"></i> Responsive Tables</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="form.html"><i class="fa fa-edit"></i> Forms </a>-->
                <!--</li>-->


                <!--<li>-->
                    <!--<a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>-->
                    <!--<ul class="nav nav-second-level">-->
                        <!--<li>-->
                            <!--<a href="#">Second Level Link</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Second Level Link</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Second Level Link<span class="fa arrow"></span></a>-->
                            <!--<ul class="nav nav-third-level">-->
                                <!--<li>-->
                                    <!--<a href="#">Third Level Link</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">Third Level Link</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">Third Level Link</a>-->
                                <!--</li>-->

                            <!--</ul>-->

                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="empty.html"><i class="fa fa-fw fa-file"></i> Empty Page</a>-->
                <!--</li>-->
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
        {{{body}}}
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="/assets/js/morris/morris.js"></script>


<script src="/assets/js/easypiechart.js"></script>
<script src="/assets/js/easypiechart-data.js"></script>

<script src="/assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>


<!-- Chart Js -->
<script type="text/javascript" src="/assets/js/chart.min.js"></script>
<script type="text/javascript" src="/assets/js/chartjs.js"></script>
<script src="/assets/js/select2.full.min.js"></script>


<!--pickers plugins-->
<script type="text/javascript" src="/javascripts/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<!--<script type="text/javascript" src="/javascripts/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>-->
<!--<script type="text/javascript" src="/javascripts/bootstrap-daterangepicker/moment.min.js"></script>-->
<!--<script type="text/javascript" src="/javascripts/bootstrap-daterangepicker/daterangepicker.js"></script>-->
<!--<script type="text/javascript" src="/javascripts/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>-->


<!--pickers initialization-->
<!--<script src="/javascripts/pickers-init.js"></script>-->

</body>

</html>

<script>
    var setActiveMenu = function (item) {
        item.addClass('active-menu');
    };
    var foo = function () {

        $('.default-date-picker').datepicker({
            format: 'mm-dd-yyyy'
        });
        $(".selectbox").select2();
//        var tagAs = $('#main-menu').find('a');
//        alert(document.location.pathname);
        switch(document.location.pathname){
            case '/':setActiveMenu($('.menu-tag.all'));break;
            case '/funded':setActiveMenu($('.menu-tag.funded'));break;
            case '/raised':setActiveMenu($('.menu-tag.raised'));break;
            case '/newProj':setActiveMenu($('.menu-tag.new'));break;
        }
    };
    foo();
</script>